body {
    text-align: center;
    background-color: #85929e;
}

p {
	text-align: center;
	padding: 0px 100px 0px 100px;
}

#description{
	margin: auto;
	text-align: center;
	color: white;
	padding-bottom: 10px;
}

 
